@model TeacherModel

@*
Differences between ViewData, ViewBag and TempData    
Visit: https://www.red-gate.com/simple-talk/blogs/what-is-viewdata-and-implement-viewdata-in-asp-net-mvc
*@
@{
    ViewData["Title"] = "Delete a teacher";
}

<h2>@ViewData["Title"]</h2>
<h3>Are you sure you want to delete this?</h3>

<form class="d-flex p-2 flex-column" method="post" asp-action="Delete">
    @* Full name *@
    <div class="form-group">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" readonly="@(true)/">
    </div>

    @* Gender and Birthay *@
    <div class="d-flex">
        <div class="w-50">
            <div class="form-group">
                <label asp-for="Gender" class="form-label"></label>
                <input value=@DropDownListHelper.SearchText(DropDownListHelper.GetGenderList(), Model.Gender, "") class="form-control" readonly="@(true)" />
            </div>
        </div>
        <div class="w-50">
            <div class="form-group">
                <label asp-for="DateOfBirth" class="form-label"></label>
                <input asp-for="DateOfBirth" class="form-control" readonly="@(true)"/>
            </div>
        </div>
    </div>

    @* Teaching mode, and Is active? *@
    <div class="d-flex">
        <div class="w-50">
            <div class="form-group">
                <label asp-for="TeachingMode"></label>
                <input asp-for="TeachingModeDescription" class="form-control" readonly="@(true)" />
            </div>
        </div>
        <div class="w-50">
            <div class="form-group form-check">
                <label>&nbsp;</label>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" readonly="@(true)"/> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
        </div>
    </div>

    @* Email *@
    <div class="form-group">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" readonly="@(true)"/>
    </div>
    
    @* Dates log *@
    <div class="d-flex">
        <div class="w-50">
            <div class="form-group">
                <label asp-for="CreatedOn" class="form-label"></label>
                <label>@Html.DisplayFor(model => model.CreatedOn)</label>
            </div>
        </div>
        <div class="w-50">
            <div class="form-group">
                <label asp-for="UpdatedOn" class="form-label"></label>
                <label>@Html.DisplayFor(model => model.UpdatedOn)</label>
            </div>
        </div>
    </div>

    <div class="form-actions">
       <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-secondary">Back to list</a>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Edit</a>
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>