@model IEnumerable<Teacher>

@*Use ViewData, visit: https://www.red-gate.com/simple-talk/blogs/what-is-viewdata-and-implement-viewdata-in-asp-net-mvc*@
@{
    ViewData["Title"] = "Teachers";
}
<div class="container">
    <div class="row pb-3 align-items-center">
        <div class="col-8"><h2>@ViewData["Title"]</h2></div>
        <div class="col-4 text-end"><a asp-controller="Teacher" asp-action="create" class="btn btn-primary">New</a></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-7"><h6>Name</h6></div>
        <div class="col-4"><h6>Teaching Mode</h6></div>
    </div>
    @foreach (var item in Model)
    {
        <div class="row py-1 align-items-center">
            <div class="col-7">@item.Name</div>
            <div class="col-4">@item.TeachingModeDescription</div>
            <div class="col-1 d-flex justify-content-end">
                <a asp-controller="Teacher" asp-action="Edit" asp-route-id="@item.Id" 
                   type="button" class="mx-1 btn btn-info btn-in-row" data-toggle="tooltip" title="Edit">
                   <i class="bi bi-pencil"></i>
               </a>
                <a asp-controller="Teacher" asp-action="Delete" asp-route-id="@item.Id" 
                   type="button" class="mx-1 btn btn-danger btn-in-row" data-toggle="tooltip" title="Delete">
                   <i class="bi bi-trash-fill"></i>
               </a>
            </div>
        </div>
    }
</div>

